
###> symfony/framework-bundle ###
# /.env.local
# /.env.local.php
# /.env.*.local
/*.cache
/storage/*.key
/storage/pail
/config/secrets/*
/public/build
/public/hot
/public/bundles/
/public/storage
/node_modules
/var
/vendor
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
# .phpunit.result.cache
# /phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
# /phpunit.xml
# .phpunit.result.cache
###< phpunit/phpunit ###

###> files ###
*.env*
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.old*
*.lock*
*.log
#< files ###
###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
